Importing Required Libraries

In [45]:
import pandas as pd
import numpy as np
from typing import Counter
from numpy import where
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from imblearn import under_sampling, over_sampling
from sklearn.decomposition import  PCA
from sklearn.ensemble import IsolationForest
from imblearn.over_sampling import SMOTE, RandomOverSampler
from sklearn.ensemble import  RandomForestClassifier
from sklearn.preprocessing import StandardScaler

Loading the Dataset

In [3]:
data = pd.read_csv("three_parameters.csv")
df = pd.DataFrame(data)
df

      Landmark_1  Landmark_2  Landmark_3    Class
0       8.944272    8.062258   35.114100   Drowsy
1       8.944272    8.062258   31.780497  Unknown
2       8.062258    8.062258   35.114100   Drowsy
3       9.433981    9.433981   33.105891  Unknown
4       8.062258    8.602325   36.055513   Drowsy
...          ...         ...         ...      ...
4053    2.000000    2.000000   12.000000  Unknown
4054    4.000000    3.162278   13.000000   Drowsy
4055    2.236068    3.000000   12.165525  Unknown
4056   10.049876    9.055385   33.015148   Drowsy
4057   10.049876    9.000000   33.000000  Unknown

[4058 rows x 4 columns]

In [4]:
df.round(1)

      Landmark_1  Landmark_2  Landmark_3    Class
0            8.9         8.1        35.1   Drowsy
1            8.9         8.1        31.8  Unknown
2            8.1         8.1        35.1   Drowsy
3            9.4         9.4        33.1  Unknown
4            8.1         8.6        36.1   Drowsy
...          ...         ...         ...      ...
4053         2.0         2.0        12.0  Unknown
4054         4.0         3.2        13.0   Drowsy
4055         2.2         3.0        12.2  Unknown
4056        10.0         9.1        33.0   Drowsy
4057        10.0         9.0        33.0  Unknown

[4058 rows x 4 columns]

Exploratory Data Analysis(EDA)

In [5]:
len(df)

4058

In [6]:
df.describe()

        Landmark_1   Landmark_2   Landmark_3
count  4058.000000  4058.000000  4058.000000
mean      7.492809     7.383439    32.124084
std       1.999815     1.931438     3.298754
min       1.000000     1.000000    10.000000
25%       6.082763     6.082763    30.149627
50%       8.000000     7.280110    32.140317
75%       9.055385     9.000000    34.234486
max      14.142136    14.317821    44.011362

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Landmark_1  4058 non-null   float64
 1   Landmark_2  4058 non-null   float64
 2   Landmark_3  4058 non-null   float64
 3   Class       4058 non-null   object
dtypes: float64(3), object(1)
memory usage: 126.9+ KB

In [8]:
df.duplicated().sum()

989

In [9]:
df.isnull().sum()

Landmark_1    0
Landmark_2    0
Landmark_3    0
Class         0
dtype: int64

In [10]:
count = 0
for i in range(len(df)):
    if df['Class'][i] == "Unknown":
        count += 1
count

2029

In [11]:
count = 0
for i in range(len(df)):
    if df['Class'][i] == "Alert":
        count += 1
count

191

In [12]:
len(df['Class'])

4058

In [13]:
#Oversamopling and UnderSampling

In [22]:
X = df.drop(columns=["Class"])
Y = df['Class']

In [29]:
outlier_detect = IsolationForest(contamination=0.05, random_state=42)
outlier = outlier_detect.fit_predict(X)
outlier

array([ 1,  1,  1, ..., -1,  1,  1])

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

#Normalizing theFreatures
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
print(X_train.shape)
print(X_test.shape)

(2840, 3)
(1218, 3)
(1218,)

In [34]:
oversampler = RandomOverSampler(sampling_strategy='auto', random_state=42)
X_train_resampled, Y_train_resampled = oversampler.fit_resample(X_train,Y_train)

smote = SMOTE(random_state=42)
X_resampled, Y_resampled = smote.fit_resample(X, Y)
X_resampled
print(Counter(Y_resampled))

Counter({'Drowsy': 2029, 'Unknown': 2029, 'Alert': 2029})

In [44]:
pca = PCA(n_components=2)  
X_pca = pca.fit_transform(X_resampled)

In [47]:
clf = RandomForestClassifier(random_state=42)
clf

RandomForestClassifier(random_state=42)

In [ ]:
counter = Counter(Y)
counter

Counter({'Unknown': 2029, 'Drowsy': 1838, 'Alert': 191})

In [ ]:
df.shape
Counter(df['Class'])

Counter({'Unknown': 2029, 'Drowsy': 1838, 'Alert': 191})